@font-face {
    font-family: 'CircularStd-Medium';
    src: url('CircularStd-Medium.woff') format('woff'),
         url('CircularStd-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }