@font-face {
    font-family: 'OpenSans-Bold';
    src: url('OpenSans-Bold.woff') format('woff'),
         url('OpenSans-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }